<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Wsus_Package_Publisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wsus_Package_Publisher.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Credential" serializeAs="String">
                <value>SameAsApplication</value>
            </setting>
            <setting name="InstalledColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="InstalledPendingRebootColor" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="DownloadedColor" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="NotApplicableColor" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="NotInstalledColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="UnknownColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="FailedColor" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="ShowNonLocallyPublishedUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenWindowsUpdateLogWith" serializeAs="String">
                <value>NotePad.exe</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="LastUpdateFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateFilePathSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdditionalUpdateFilePathAsMainFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUsedServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectToLastUsedServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventAutoApproval" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="PingStandard" serializeAs="String">
                <value>IPv4</value>
            </setting>
            <setting name="LastVersionCheck" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="ComputersListViewerDisplayedColumns" serializeAs="String">
                <value>ComputerName;IPAdress;LastReportedStatusTime;LastSyncTime;Make;Model;OSArchitecture;OSDescription</value>
            </setting>
            <setting name="UpdateDefaultAction" serializeAs="String">
                <value>Revise</value>
            </setting>
            <setting name="HTTPProxyPolicy" serializeAs="String">
                <value>NoProxy</value>
            </setting>
            <setting name="HTTPProxyServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPProxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="HTTPProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="FTPProxyPolicy" serializeAs="String">
                <value>SameAsAbove</value>
            </setting>
            <setting name="RemoteAdminLogin" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="RemoteAdminPassword" serializeAs="String">
                <value>1;0;0;0;208;140;157;223;1;21;209;17;140;122;0;192;79;194;151;235;1;0;0;0;52;137;108;74;11;85;92;71;189;105;49;64;51;134;88;223;0;0;0;0;2;0;0;0;0;0;16;102;0;0;0;1;0;0;32;0;0;0;14;66;139;132;196;135;226;69;91;159;58;41;163;76;54;249;22;130;64;118;201;44;91;190;250;252;91;194;52;7;88;131;0;0;0;0;14;128;0;0;0;2;0;0;32;0;0;0;146;240;220;122;178;111;252;222;213;218;169;147;64;210;69;116;145;36;229;36;72;244;231;164;190;206;26;43;146;235;121;2;32;0;0;0;167;3;214;235;133;161;177;141;28;163;96;10;37;73;131;82;50;83;83;143;60;77;199;80;74;245;243;238;193;34;29;221;64;0;0;0;196;127;47;215;204;122;137;204;157;224;141;202;42;157;190;227;202;150;29;39;39;52;121;204;74;25;66;15;3;94;34;232;24;72;119;122;35;129;119;219;28;219;28;49;169;172;10;234;251;233;14;57;64;65;251;0;62;113;55;37;44;254;136;106;</value>
            </setting>
            <setting name="XmlSchema" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;xs:schema id="Applicability" targetNamespace="http://www.microsoft.com/msi/patch_applicability.xsd" elementFormDefault="qualified" xmlns="http://www.microsoft.com/msi/patch_applicability.xsd" xmlns:mstns="http://www.microsoft.com/msi/patch_applicability.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"&gt;
	&lt;xs:element name="MsiPatch"&gt;
		&lt;xs:complexType&gt;
			&lt;xs:sequence&gt;
				&lt;xs:element name="TargetProduct" minOccurs="1" maxOccurs="unbounded"&gt;
					&lt;xs:complexType&gt;
						&lt;xs:sequence&gt;
							&lt;xs:element name="TargetProductCode" type="ValidateGUID" /&gt;
							&lt;xs:element name="UpdatedProductCode" type="GUID" minOccurs="0" maxOccurs="1" /&gt;
							&lt;xs:element name="TargetVersion" type="ValidateVersion" /&gt;
							&lt;xs:element name="UpdatedVersion" type="Version" minOccurs="0" maxOccurs="1" /&gt;
							&lt;xs:element name="TargetLanguage" type="ValidateLanguage" /&gt;
							&lt;xs:element name="UpdatedLanguages" type="intList" /&gt;
							&lt;xs:element name="UpgradeCode" type="ValidateGUID" /&gt;
						&lt;/xs:sequence&gt;
						&lt;xs:attribute name="MinMsiVersion" type="xs:int" /&gt;
					&lt;/xs:complexType&gt;
				&lt;/xs:element&gt;
				&lt;xs:element name="TargetProductCode" type="GUID" minOccurs="1" maxOccurs="unbounded" /&gt;
				&lt;xs:element name="ObsoletedPatch" minOccurs="0" maxOccurs="unbounded" type="GUID" /&gt;
				&lt;xs:element name="SequenceData" minOccurs="0" maxOccurs="unbounded"&gt;
					&lt;xs:complexType&gt;
						&lt;xs:sequence&gt;
							&lt;xs:element name="PatchFamily" type="xs:string" /&gt;
							&lt;xs:element name="ProductCode" type="GUID" minOccurs="0" maxOccurs="1" /&gt;
							&lt;xs:element name="Sequence" type="Version" /&gt;
							&lt;xs:element name="Attributes" type="xs:int" minOccurs="0" maxOccurs="1" /&gt;
						&lt;/xs:sequence&gt;
					&lt;/xs:complexType&gt;
				&lt;/xs:element&gt;
			&lt;/xs:sequence&gt;
			&lt;xs:attribute name="SchemaVersion" type="Version" /&gt;
			&lt;xs:attribute name="PatchGUID" type="GUID" /&gt;
			&lt;xs:attribute name="MinMsiVersion" type="xs:int" /&gt;
                        &lt;xs:attribute name="TargetsRTM" type="xs:boolean" use="optional" /&gt;
		&lt;/xs:complexType&gt;
	&lt;/xs:element&gt;
	&lt;xs:simpleType name="GUID"&gt;
		&lt;xs:restriction base="xs:string"&gt;
			&lt;xs:pattern value="\{[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}\}" /&gt;
		&lt;/xs:restriction&gt;
	&lt;/xs:simpleType&gt;
	&lt;xs:simpleType name="Version"&gt;
		&lt;xs:restriction base="xs:string"&gt;
			&lt;xs:pattern value="[0-9]{1,5}(\.[0-9]{1,5}){0,3}" /&gt;
		&lt;/xs:restriction&gt;
	&lt;/xs:simpleType&gt;
	&lt;xs:complexType name="ValidateGUID"&gt;
		&lt;xs:simpleContent&gt;
			&lt;xs:extension base="GUID"&gt;
				&lt;xs:attribute name="Validate" type="xs:boolean" /&gt;
			&lt;/xs:extension&gt;
		&lt;/xs:simpleContent&gt;
	&lt;/xs:complexType&gt;
	&lt;xs:complexType name="ValidateVersion"&gt;
		&lt;xs:simpleContent&gt;
			&lt;xs:extension base="Version"&gt;
				&lt;xs:attribute name="ComparisonType"&gt;
					&lt;xs:simpleType&gt;
						&lt;xs:restriction base="xs:string"&gt;
							&lt;xs:enumeration value="LessThan" /&gt;
							&lt;xs:enumeration value="LessThanOrEqual" /&gt;
							&lt;xs:enumeration value="Equal" /&gt;
							&lt;xs:enumeration value="GreaterThanOrEqual" /&gt;
							&lt;xs:enumeration value="GreaterThan" /&gt;
							&lt;xs:enumeration value="None" /&gt;
						&lt;/xs:restriction&gt;
					&lt;/xs:simpleType&gt;
				&lt;/xs:attribute&gt;
				&lt;xs:attribute name="ComparisonFilter"&gt;
					&lt;xs:simpleType&gt;
						&lt;xs:restriction base="xs:string"&gt;
							&lt;xs:enumeration value="Major" /&gt;
							&lt;xs:enumeration value="MajorMinor" /&gt;
							&lt;xs:enumeration value="MajorMinorUpdate" /&gt;
							&lt;xs:enumeration value="None" /&gt;
						&lt;/xs:restriction&gt;
					&lt;/xs:simpleType&gt;
				&lt;/xs:attribute&gt;
				&lt;xs:attribute name="Validate" type="xs:boolean" /&gt;
			&lt;/xs:extension&gt;
		&lt;/xs:simpleContent&gt;
	&lt;/xs:complexType&gt;
	&lt;xs:complexType name="ValidateLanguage"&gt;
		&lt;xs:simpleContent&gt;
			&lt;xs:extension base="xs:int"&gt;
				&lt;xs:attribute name="Validate" type="xs:boolean" /&gt;
			&lt;/xs:extension&gt;
		&lt;/xs:simpleContent&gt;
	&lt;/xs:complexType&gt;
	&lt;xs:simpleType name="intList"&gt;
		&lt;xs:list itemType="xs:int" /&gt;
	&lt;/xs:simpleType&gt;

    &lt;xs:simpleType name="MsiType"&gt;
        &lt;xs:annotation&gt;
            &lt;xs:documentation&gt;An enumeration defining the target type of an MSI operation. &lt;/xs:documentation&gt;
        &lt;/xs:annotation&gt;
        &lt;xs:restriction base="xs:token"&gt;
            &lt;xs:enumeration value="MsiProduct" /&gt;
            &lt;xs:enumeration value="MsiPatch" /&gt;
        &lt;/xs:restriction&gt;
    &lt;/xs:simpleType&gt;

    &lt;xs:complexType name="RepairPath"&gt;
    	&lt;xs:annotation&gt;
            &lt;xs:documentation&gt;Representation of a MSI repair path for an arbitrary GUID and type. &lt;/xs:documentation&gt;
        &lt;/xs:annotation&gt;
            &lt;xs:attribute name="TargetId" type="GUID" use="required"&gt;
                &lt;xs:annotation&gt;
                    &lt;xs:documentation&gt;Indicates the target ProductCode or PatchCode of the repair path. &lt;/xs:documentation&gt;
                &lt;/xs:annotation&gt;
            &lt;/xs:attribute&gt;
            &lt;xs:attribute name="TargetType" type="MsiType" use="optional" default="MsiProduct"&gt;
                &lt;xs:annotation&gt;
                    &lt;xs:documentation&gt;Indicates whether the GUID referenced by TargetGUID is for a MSI Product or MSP Patch.&lt;/xs:documentation&gt;
                &lt;/xs:annotation&gt;
            &lt;/xs:attribute&gt;
            &lt;xs:attribute name="RelativePathToExe" type="xs:string" use="required"&gt;
                &lt;xs:annotation&gt;
                    &lt;xs:documentation&gt;Indicates the relative path with file name of this Msi to its setup exe.&lt;/xs:documentation&gt;
                &lt;/xs:annotation&gt;
            &lt;/xs:attribute&gt;
    &lt;/xs:complexType&gt;
&lt;/xs:schema&gt;</value>
            </setting>
            <setting name="PersonalizedRebootMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowOnlineComputersOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreVersionMismatch" serializeAs="String">
                <value>False</value>
            </setting>
        </Wsus_Package_Publisher.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
