h1
    {
        height: 64px;
        font-size: 30px;
        background-color: #48486a;
        color:#ffffe6;
        font-style:italic;
        border-left: 5px solid #3399ff;
    }
h2
{
        margin-left: 10%;
    /*font-style: italic;*/
    font-weight: normal;
    font-size: 25px;
    /*text-decoration: underline;*/
    /*margin-left: 15px; */   
}
h3
{
        margin-left: 10%;
/*    font-style: italic;*/
    /*text-decoration: underline;*/
    font-size: 17px;
    font-weight: normal;
    /*margin-left: 25px;*/
    border-left: 5px solid #ff9933;
    padding-left: 5px;
}
img
{
    margin-left: 1%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
hr
    {
        margin-top: 10px;
        height: 2px;
        background-color: #ff9933; /*cccccc*/
        border: 0;
    }
body 
    {
        font-size: 20px;
        background-color:#29293d; /*404040*/
        color:#cccccc;
    }
p
    {
        margin-left: 12%;
        margin-right: 10%;
        /*border-left: 5px solid #ff9933;*/
        padding-left: 5px;
    }